@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-inter: "Inter";
  --color-custom-purple: #4731d3;
  --color-custom-yellow: #ffe86e;
  --color-custom-gray: #777777;
  --color-custom-dark-gray: #3a3a3a;
  --color-custom-darkmode-pink: #b7aaff;
}
